@{
    ViewData["Title"] = "Home";
}

@model LoginReg
<div class="row banner text-center">
    <div class="col-9">
        <h1>Welcome to The Bright Ideas Board!</h1>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <h3>Register</h3>
        <form action="/register" method="POST" class="SignupForm">
            <div class="form-group">
                <label asp-for="NewUser.Name"></label>
                <input type="text" class="form-control" asp-for="NewUser.Name" id="Name" placeholder="Name">
                <span asp-validation-for="NewUser.Name" class="validationMsg"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.Alias"></label>
                <input type="text" class="form-control" asp-for="NewUser.Alias" id="Alias" placeholder="Alias">
                <span asp-validation-for="NewUser.Alias" class="validationMsg"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.Email"></label>
                <input type="text" class="form-control" asp-for="NewUser.Email" id="Email" aria-describedby="emailHelp" placeholder="Email">
                <span asp-validation-for="NewUser.Email" class="validationMsg"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.Password"></label>
                <input type="password" asp-for="NewUser.Password" class="form-control" id="Password" placeholder="Password">
                <span asp-validation-for="NewUser.Password" class="validationMsg"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.ConfirmPw"></label>
                <input type="password" asp-for="NewUser.ConfirmPw" class="form-control" id="ConfirmPw" placeholder="Type Password Again">
                <span asp-validation-for="NewUser.ConfirmPw" class="validationMsg"></span>
            </div>
            <button type="submit" class="btn btn-primary">Sign up Now</button>
        </form>
    </div>
    <div class="col-6">
        <h3>Login</h3>
        <form action="/login" method="POST" class="LoginForm">
            <div class="form-group">
                <label asp-for="ReturnUser.Email"></label>
                <input type="email" class="form-control" asp-for="ReturnUser.Email" id="Email" aria-describedby="emailHelp" placeholder="Email">
            </div>
            <div class="form-group">
                <label asp-for="ReturnUser.Password"></label>
                <input type="password" asp-for="ReturnUser.Password" class="form-control" id="Password" placeholder="Password">
                <span asp-validation-for="ReturnUser.Password" class="validationMsg"></span>
                <span asp-validation-for="ReturnUser.Email" class="validationMsg"></span>
            </div>
            <button type="submit" class="btn btn-primary">Login Now</button>
        </form>
    </div>
</div>
